@charset "UTF-8";
::-webkit-scrollbar {
  height: 0px;
  background: #5e5e5e;
}

::-webkit-scrollbar-thumb {
  background: #898989;
}

@font-face {
  font-family: poppinsThin;
  src: url(/media/fonts/poppins/Poppins-Thin.otf);
}

@font-face {
  font-family: poppins;
  src: url(/media/fonts/poppins/Poppins-Regular.otf);
}

@font-face {
  font-family: poppinsBold;
  src: url(/media/fonts/poppins/Poppins-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: poppins;
  color: white;
}

.body {
  background: #292929;
  margin: auto;
}

.header {
  z-index: 1;
  background: #292929;
  position: fixed;
  width: calc(100vw - 10.3rem);
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.15rem solid #ffffff;
  justify-content: space-between;
  padding: 0 5rem;
}

.headerLogoTitle {
  font-family: poppinsBold;
  letter-spacing: -0.125rem;
  font-size: 2.5rem;
  font-weight: 00;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 25rem;
  font-size: 1.125rem;
}



.heroCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.15rem solid #ffffff;
  max-width: calc(100vw - .3rem);
  border-top: none;
  padding-top: calc(10vh + .3rem);
  height: 60vh;
  background: url("/media/img/Web 1920 – 16.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroCtn .heroLogo {
  width: 21.25rem;
  margin-right: 2.75rem;
}

.heroCtn .heroTxt {
  z-index: 0;
  position: relative;
  margin-left: 2.75rem;
}

.heroCtn .heroTxt::before {
  content: " ";
  position: absolute;
  left: -2.75rem;
  height: 100%;
  width: 0.313rem;
  background: #ffffff;
}

.heroCtn .heroTxtTitle {
  font-size: 3.125rem;
}

.heroCtn .heroTxtSubtitle {
  font-size: 1.875rem;
}

.showcaseCtn {
  position: relative;
  display: flex;
  height: calc(100vh - 6.25rem);
  width: auto;
  overflow-x: auto;
  overflow: visible;
}

.showcaseCtn .showcaseHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292929;
  flex-direction: column;
  justify-content: space-around;
  border: 0.15rem solid #ffffff;
  border-top: none;
  min-width: 37vw;
  max-width: 37vw;
}

.showcaseCtn .showcaseHeaderTitle {
  margin: 2.5rem 3.75rem;
  font-size: 3.125rem;
  font-weight: lighter;
}

.showcaseCtn .showcaseHeaderTitle span {
  color: #4eb9e1;
}

.showcaseCtn .showcaseHeaderTxt {
  margin: 2.5rem 3.75rem;
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: 50px;
}

.showcaseCtn .showcaseHeader img {
  width: 14.563rem;
}

.showcaseCtn .portfolioGrid {
  margin: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.showcaseCtn .portfolioGrid .card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background: #4eb9e1;
  height: 100%;
}

.processCtn {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.processCtn h3 {
  font-size: 2.188rem;
  margin: 1rem;
}

.processCtn .processSteps {
  width: 46.875rem;
}

.processCtn .processSteps li {
  display: flex;
  margin: 2.5rem;
}

.processCtn .processSteps li .illu {
  margin-right: 1.25rem;
}

.processCtn .processSteps li .txtTitle {
  font-size: 1.875rem;
}

.processCtn .processSteps li .txtSubTitle {
  font-size: 1.125rem;
}

.processCtn .devisBtn {
  padding: 1rem 2rem;
  background: #4eb9e1;
  border-radius: 50px;
  margin: 2rem;
}
